/* Navigation Bar Styles */
.navbar {
  background-color: #3c0303; /* Dark maroon color */
}

/* Side Bar Styles */
.sidebar {
  background-color: #8a0f0f; /* Medium maroon color */
}

/* Table Header Styles */
.table-header {
  background-color: #c22828; /* Light maroon color */
}
