/* Main navigation bar styles */
#main-nav {
  background-color: #3c0303;
}

#main-nav a {
  color: #efbfc6;
}

/* Sidebar styles */
#sidebar {
  background-color: #8a0f0f;
}

#sidebar a {
  color: #c22828;
}

/* Table header styles */
#content table thead th {
  background-color: #c22828;
  color: #efbfc6;
}